.icons-wrapper {
	padding: 30px 0;
	display: flex;
	column-gap: 30px;
}

.icon {
	fill: transparent;
	stroke: transparent;
	width: 24px;
	height: 24px;
}


.icon--search {
	stroke: var(--black);
}

.icon--person {
	fill: var(--black);
}

.icon--favorite {
	stroke: var(--black);
	fill: #fff;
}

.icon--bag {
	fill: var(--black);
}

.icon--menu {
	fill: var(--black);
}

.icon--down {
	fill: #0C0C0C;
	width: 12px;
	height: 7.5px;
}